---
layout: default
headerImage: B63A4816_1_crop.jpg
---


<div class="home">

<!-- <h1 class="page-heading">The Work</h1> -->
  {% for project in site.portfolio limit:3 %}
  <div class="thumbnail-container">
    <div class="col-xs-12 col-md-6">
      <div class="thumbnail">
        {% if project.image %}
      <img src="{{ project.image }}">
      {% endif %}
      <h3>
        <a class="project-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
      </h3>
        <p>{{ project.short-description }}</p>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
